<template>
  <div class="px-5">
    <div class="d-flex justify-content-center mt-3">
      <h3 style="font-weight: 600">Dastur xaqida</h3>
    </div>

    <p>
  {{about}}
    </p>

    <div class="d-flex justify-content-end">
      <el-button
        type="primary"
        @click="showDialog"
        class="d-flex justify-content-end button"
        >O'zgartirish</el-button
      >
    </div>
    <el-dialog title="Dastur xaqida" :visible.sync="visible" width="70%">
      <div>
        <el-input type="textarea" :rows="12" v-model="inputAbout"> </el-input>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="editAbout">O'zgartirish</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    about: "",
    inputAbout: "",
    id: "",
    visible: false,
  }),
  methods: {
    async getAbout() {
      const response = await this.$axios.get("/about/get");
      if (response.data) {
        this.about = response.data.data[0].about;
        this.inputAbout = response.data.data[0].about;
        this.id = response.data.data[0]._id;
      }
    },
    showDialog() {
      this.inputAbout = this.about
      this.visible = true;
    },
   async editAbout () {
     try {
     const  response = await this.$axios.put(`/about/update/${this.id}`,{about:this.inputAbout})
     if(response.data.success) {
       this.$toast.success("O'zgardi")
       this.visible = false
       this.getAbout()
     }
     }
    catch(e) {
      this.$toast.error('Xatolik yuz berdi')
    }
     
    }
  },
  mounted() {
    this.getAbout();
  },
};
</script>

<style>
</style>